/Application Task Phase 1.docx
/Application Task Phase 2.pptx
/bookreview_data_test.txt
/Daisy.zip
/Dandelion.zip
/LinkedIn Course Completion 1.webp
/LinkedIn Course Completion 2.webp
/Rose.zip
/sample_pdfdata.pdf
/sg_resale_MUHAMMADHAFIZ.xlsx
/Sunflower.zip
/Topic 1 - AIENG.docx
/Topic 2 - AIENG_MuhammadHafiz.docx
/Topic 3 Activity 1 Data.xlsx
/Topic 3 Activity 2 Data.xlsx
/Topic 3 Activity 2 Report.pdf
/Topic 3 Activity 2 zip.zip
/Topic 3 Activity 3 Data.xlsx
/Topic 3 Activity 3 Report.pdf
/Topic 4 - AIENG_MuhammadHafiz.docx
/Topic 4 Activity 1 Data.xlsx
/Topic 5 - AIENG_MuhammadHafiz.docx
/Topic 6 - AIENG_MuhammadHafiz.docx
/Topic 7 - AIENG_MuhammadHafiz.docx
/Topic 8 - AIENG_MuhammadHafiz.docx